<div class="message">
  <div class="chat_circle-avatar">
      <%= image_tag message.user.avatar.to_s %>
      <em class="chat_username"><%= message.user.username %>
  </div>
  <p><%= message.content %></p>
</div>
