<div class="message">
  <div class="chat_circle-avatar">
    <%= image_tag message.user.avatar.to_s %>
    <em class="chat_username">
    <%= message.content %>
  </div>
  <p><%= message.user.username %></p>
</div>

    <!-- チャットの外側部分① -->

        <!-- ヘッダー部分② -->


        <!-- タイムライン部分③ -->
        <div id="bms_messages">


            <!--メッセージ１（左側）-->
            <div class="bms_message bms_left">
                <div class="bms_message_box">
                    <div class="bms_message_content">
                        <div class="bms_message_text"><%= message.content %></div>
                    </div>
                </div>
            </div>
            <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
