<h1>メインページ</h1>
<%= link_to 'ユーザー編集', edit_user_registration_path %>

<div id="messages">
  <%= render @messages %>
</div>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_talker">
  <!-- <input type="hidden" name="username" value="<#%= username %>"> -->
</form>
