<% content_for :title do %>
チャットルーム
<% end %>

<!-- チャットルームの外枠 -->
<div id="bms_messages_container">
  <div id="bms_chat_header">
    <div id="bms_status_icon">チャットルーム</div>
    <div id="bms_chat_user_name"><%= link_to 'ユーザー編集', edit_user_registration_path %></div>
  </div>
</div>
<div id="bms_messages">

　<!-- メッセージの部分テンプレート -->
<div id="messages">
  <%= render @messages %>
</div>

<!-- メッセージ送信枠 -->
<form>
  <div id="bms_send">
  <input type="text"  id="bms_send_message" data-behavior="room_talker">
  <!-- <input type="hidden" name="username" value="<#%= username %>"> -->
  </div>
</form>
</div>
